@charset "UTF-8";
/* color */
/* background-color */
/* Typography */
/* Keyframe plats */
@keyframes slide {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Keyframes Loader */
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
@keyframes loader2 {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}
/* Animation like */
/* Flex-box*/
.plats-content__checkbox, .Menu__titleMenu, .Menu2__titleMenu, .background, .background2, .navBar__logo, .navBar, .menu__libellé, .step1__step2, .localisation, .loader-container, .background button, .navBar__logoMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

.container {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

p, h2, h3 {
  margin: 0;
  margin: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Barre de navigation */
.navBar__logoMain {
  height: 70px;
  box-shadow: 5px;
  width: 100%;
  padding: 10px 0;
}
.navBar__logoMain img {
  width: 200px;
  height: 40px;
}

/* Footer */
.footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
.footer img {
  width: 120px;
  height: 24px;
  color: white;
  margin-bottom: 10px;
}
.footer p {
  font-size: 18px;
}
.footer span a {
  color: white;
}

.footer-nav {
  padding-top: 15px;
}
.footer-nav__foot-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Boutons */
.reserve button {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(-10deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 13px 19px 13px 19px;
  margin: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.reserve button:hover {
  transform: scale(1.1);
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, white 0px 0px 20px, white 0px 0px 30px, white 0px 0px 40px, white 0px 0px 50px, white 0px 0px 75px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25), 0 0 80px rgba(0, 0, 0, 0.25);
}

.background button {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(-10deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 20px 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.background button:hover {
  transform: scale(1.1);
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, white 0px 0px 20px, white 0px 0px 30px, white 0px 0px 40px, white 0px 0px 50px, white 0px 0px 75px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25), 0 0 80px rgba(0, 0, 0, 0.25);
}

/* Loader homepage */
.loader-container {
  display: none;
  animation: loader2 1.5s forwards;
  position: fixed;
  background: var(--button-gradient, linear-gradient(-10deg, #9356DC 0%, #FF79DA 100%));
  width: 100%;
  height: 100%;
  z-index: 1;
}

.loader-container__dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}
.loader-container__d2 {
  animation-delay: 0.05s;
}
.loader-container__d3 {
  animation-delay: 0.1s;
}

/* Localisation */
.localisation {
  flex-direction: row;
  background-color: #ECECEC;
  box-shadow: inset 0px 10px 5px -11px grey;
  height: 50px;
}
.localisation i {
  text-align: center;
  height: 16px;
  margin-right: 10px;
}

/* Reservation */
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #f3f3f3;
  padding: 20px 0 20px 0;
}
.reserve h1 {
  padding: 0 60px 0 60px;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 10px;
}
.reserve p {
  padding: 0 40px 0 40px;
  text-align: center;
  color: var(--grey, #353535);
}

/*  Fonctionnement */
.roadMap {
  padding: 15px 24px 15px 15px;
}
.roadMap h2 {
  margin-bottom: 20px;
}

.step-wrap__step1 {
  margin-bottom: 20px;
  position: relative;
}
.step-wrap__step1 span {
  background-color: #9356DC;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 22px;
  left: -3px;
}

.step1__step2 {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-left: 10px;
}
.step1__step2 i {
  margin: 0px 20px 0px 30px;
}
.step1__step2__market {
  margin: 0px 20px 0px 30px;
}

.step2__market:hover {
  color: #9356DC;
  cursor: pointer;
}

/*  Restaurants */
.restaurant {
  background-color: #f3f3f3;
  padding: 15px;
}
.restaurant h2 {
  margin: 20px 0 20px 0;
}

.bloc-article__menu {
  margin-bottom: 30px;
  background-color: white;
  position: relative;
  border-radius: 15px;
}
.bloc-article__menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 170px;
  bottom: 1px;
}
.bloc-article__menu span {
  width: 130px;
  height: 200px;
}
.bloc-article__menu span i {
  position: absolute;
  font-size: 25px;
  right: 30px;
  bottom: 30px;
}
.bloc-article__menu span:hover {
  background-color: #9356DC;
  color: #9356DC;
}

.menu-carte__menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.menu-content__menu-texte h3 {
  margin: 0;
  margin: 5px;
}
.menu-content__menu-texte p {
  font-size: 17px;
  font-style: normal;
}
.menu-content__like {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;
  margin-right: 20px;
}
.menu-content__like i {
  bottom: 10px;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
}
.menu-content__like span i {
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 30px;
  cursor: pointer;
  color: #9356DC;
}
.menu-content__like i:hover {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.menu__menu-carte {
  box-sizing: border-box;
}
.menu__libellé {
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  width: 90px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Media queries */
@media screen and (min-width: 768px) {
  /* Fonctionnement */
  .roadMap {
    padding: 30px 40px 30px 30px;
  }
  .roadMap h2 {
    margin-bottom: 40px;
  }
  .roadMap__step-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .step-wrap__step1 {
    width: 28%;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
  }
  .step1__step2 {
    padding-right: 10px;
  }
  .step1__step2 p {
    text-align: center;
  }
  .step1__step2 i {
    margin-right: 5px;
  }
  /* Restaurants */
  .restaurant {
    padding: 30px 150px 30px 150px;
  }
  .restaurant h2 {
    margin-bottom: 20px 20px;
  }
  .bloc-article__menu {
    height: 360px;
  }
  .menu__menu-carte {
    cursor: pointer;
  }
  .menu__menu-carte img {
    height: 280px;
  }
  /* Footer */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 100px;
    padding: 20px 35px;
  }
  .footer img {
    width: 130px;
    height: 25px;
    margin-bottom: 5px;
  }
  .footer span {
    display: flex;
    flex-direction: row;
    margin: 0 35px 0 35px;
    text-align: center;
  }
  .footer__footer-nav {
    display: flex;
    flex-direction: row;
  }
  .footer-nav__foot-align {
    margin: 0 5px 0 5px;
  }
  .footer-nav__foot-align p {
    margin-left: 10px;
  }
}
/* desktop ++ */
@media screen and (min-width: 1024px) {
  /* Fonctionnement */
  .roadMap {
    padding: 60px 172px;
  }
  .roadMap h2 {
    margin-left: 15px;
  }
  .step-1__step2 i {
    margin: 0px 20px 0px 30px;
  }
  /* Restaurants */
  .restaurant {
    display: flex;
    flex-direction: column;
    padding: 30px 130px 30px 130px;
  }
  .restaurant h2 {
    padding-left: 58px;
  }
  .restaurant__bloc-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .bloc-article__menu {
    height: auto;
    width: 40%;
    margin: 30px 20px;
  }
  .menu__menu-carte img {
    height: 231px;
  }
  /* footer */
  .footer-nav__foot-align p {
    margin-left: 5px;
  }
}
.container-2 h1 {
  font-family: "Shrikhand", cursive;
}
.container-2 h2 {
  font-size: 16px;
}

/* Barre de navigation */
.navBar {
  width: 100%;
  height: 70px;
  position: relative;
}
.navBar__arrow {
  width: 50px;
  position: absolute;
  left: 25px;
}
.navBar__logo img {
  width: 200px;
  height: 40px;
}

/* Image de fond */
.illustration {
  position: relative;
  height: 290px;
  z-index: 1;
}
.illustration img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 360px;
}

/* Background */
.background, .background2 {
  position: relative;
  height: 1300px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}

.background2 {
  height: 1430px;
}

/* Le menu */
.background__Menu, .background__Menu2 {
  width: 100%;
  background-color: white;
  border-radius: 40px 40px 0 0;
  padding: 1px 20px 20px 20px;
  z-index: 2;
  top: 30px;
}
.background__Menu h3, .background__Menu p, .background__Menu2 h3, .background__Menu2 p {
  margin: 0;
}
.background__Menu h2, .background__Menu2 h2 {
  margin-top: 35px;
  margin-left: 0;
}

.Menu__titleMenu, .Menu2__titleMenu {
  margin: 20px 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.Menu__titleMenu h1, .Menu2__titleMenu h1 {
  font-size: 30px;
  margin: 0;
  margin-top: 5px;
}
.Menu__bouton, .Menu2__bouton {
  display: flex;
  justify-content: center;
}

.titleMenu__like {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.titleMenu__like i {
  bottom: 10px;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
}
.titleMenu__like span i {
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 30px;
  cursor: pointer;
  color: #9356DC;
}
.titleMenu__like i:hover {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* - Entrées */
.Menu__menu-content, .Menu2__menu-content {
  margin-bottom: 10px;
  animation: slide 2s forwards;
}
.Menu__menu-content p, .Menu2__menu-content p {
  margin-bottom: 10;
}

.menu-content__trait {
  border: solid 2px #99E2D0;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.menu-content__plats-content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Animation plats */
.Menu__time1 {
  animation-delay: 0;
}
.Menu__time2 {
  animation-delay: 1s;
  opacity: 0;
}
.Menu__time3 {
  animation-delay: 2s;
  opacity: 0;
}

.plats-content__plats {
  z-index: 2;
  position: relative;
  height: 50px;
  width: 100%;
  min-width: 80%;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px 0 15px 15px;
  cursor: pointer;
  box-shadow: 0px 10.0114941597px 20.0431032181px 7px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.plats-content__plats:hover + .plats-content__plats__checkbox {
  color: 0;
  background-color: aqua;
}
.plats-content__plats h3 {
  margin: 5px 0 5px 0;
  font-weight: bolder;
}
.plats-content__plats p {
  font-weight: lighter;
}
.plats-content__plats span {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-weight: bolder;
}
.plats-content__checkbox {
  z-index: 1;
  overflow: hidden;
  height: 80px;
  width: 10%;
  border-radius: 15px;
  background-color: #99E2D0;
  margin-left: 1%;
}

@media screen and (min-width: 768px) {
  /* L'image de fond */
  .illustration {
    height: 430px;
  }
  .illustration img {
    height: 450px;
  }
  /* Le menu */
  .background__Menu {
    position: relative;
    width: 60%;
    background-color: #f3f3f3;
    padding: 0 10%;
  }
  /* La note enchanté */
  .background2 {
    height: 1390px;
  }
  .background__Menu2 {
    position: relative;
    width: 60%;
    background-color: #f3f3f3;
    padding: 0 10%;
  }
  /* Suite Menu */
  .Menu__titleMenu, .Menu2__titleMenu {
    justify-content: center;
  }
  .Menu__bouton, .Menu2__bouton {
    margin: 40px 0;
  }
  .Menu__titleMenu h1 {
    margin-right: 25px;
  }
  .Menu__titleMenu i {
    position: initial;
  }
  /* Footer */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 100px;
    padding: 20px 35px;
  }
  .footer img {
    width: 130px;
    height: 25px;
    margin-bottom: 5px;
  }
  .footer span {
    display: flex;
    flex-direction: row;
    margin: 0 35px 0 35px;
    text-align: center;
  }
  .footer__footer-nav {
    display: flex;
    flex-direction: row;
  }
  .footer-nav__foot-align {
    margin: 0 5px 0 5px;
  }
  .footer-nav p {
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */