@charset "UTF-8";
/* color */
/* background-color */
/* Color utils */
/* Typography */
/* Media queries */
/* Tablette */
/* desktop ++ */
/* Media Restaurants */
/* Tablette & desktop*/
/* Flex-box*/
.Menu__titleMenu, .background, .navBar__logo, .navBar, .menu__libellé, .step1__step2, .localisation, .background button, .navBar__logoMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content__plats {
  display: flex;
  flex-direction: column;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

.container {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

p, h2, h3 {
  margin: 0;
  margin: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Barre de navigation */
.navBar__logoMain {
  height: 70px;
  box-shadow: 5px;
  width: 100%;
  padding: 10px 0;
}
.navBar__logoMain img {
  width: 200px;
  height: 40px;
}

/* Footer */
.footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
.footer img {
  width: 120px;
  height: 24px;
  color: white;
  margin-bottom: 10px;
}
.footer p {
  font-size: 18px;
}
.footer span a {
  color: white;
}

.footer-nav {
  padding-top: 15px;
}
.footer-nav__foot-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Boutons */
.reserve button {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(-10deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 13px 19px 13px 19px;
  margin: 30px;
}

.background button {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(-10deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 20px 30px;
}

/* Media-queries*/
@media screen and (min-width: 768px) {
  /* Fonctionnement */
  .roadMap {
    padding: 60px 30px;
  }
  .roadMap h2 {
    padding-left: 112px;
    margin-bottom: 40px;
  }
  .roadMap__step-wrap {
    justify-content: center;
    flex-direction: row;
  }
  .step-wrap__step1 {
    width: 30%;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
  }
  .step1__step2 {
    padding-right: 10px;
  }
  .step1__step2 p {
    text-align: center;
  }
  .step1__step2 i {
    margin-right: 5px;
  }
  /* Restaurants */
  .restaurant {
    padding: 30px 150px 30px 150px;
  }
  .restaurant h2 {
    margin-bottom: 20px;
  }
  .bloc-article__menu {
    height: 360px;
  }
  .menu__menu-carte img {
    height: 280px;
  }
  /* Footer */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 100px;
    padding: 20px 35px;
  }
  .footer img {
    width: 130px;
    height: 25px;
    margin-bottom: 5px;
  }
  .footer span {
    display: flex;
    flex-direction: row;
    margin: 0 35px 0 35px;
    text-align: center;
  }
  .footer__footer-nav {
    display: flex;
    flex-direction: row;
  }
  .footer-nav__foot-align {
    margin: 0 5px 0 5px;
  }
  .footer-nav__foot-align p {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  /* Fonctionnement */
  .roadMap {
    padding: 60px 180px;
  }
  .roadMap h2 {
    padding: 0;
  }
  .step-1__step2 i {
    margin: 0px 20px 0px 30px;
  }
  /* Restaurants */
  .restaurant {
    display: flex;
    flex-direction: column;
    padding: 30px 130px 30px 130px;
  }
  .restaurant h2 {
    padding-left: 45px;
  }
  .restaurant__bloc-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .bloc-article__menu {
    height: 300px;
    width: 40%;
    margin: 30px 20px;
  }
  .menu__menu-carte img {
    height: 231px;
  }
  /* footer */
  .footer-nav__foot-align p {
    margin-left: 5px;
  }
}
/* Localisation */
.localisation {
  flex-direction: row;
  background-color: #ECECEC;
  box-shadow: inset 0px 10px 5px -11px grey;
  height: 50px;
}
.localisation i {
  text-align: center;
  height: 16px;
  margin-right: 10px;
}

/* Reservation */
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #f3f3f3;
  padding: 20px 0 20px 0;
}
.reserve h1 {
  padding: 0 60px 0 60px;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 10px;
}
.reserve p {
  padding: 0 40px 0 40px;
  text-align: center;
  color: var(--grey, #353535);
}

/*  Fonctionnement */
.roadMap {
  padding: 30px;
}
.roadMap h2 {
  margin-bottom: 20px;
}
.roadMap__step-wrap {
  display: flex;
  flex-direction: column;
}

.step-wrap__step1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  position: relative;
}
.step-wrap__step1 span {
  background-color: #9356DC;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 22px;
  left: -3px;
}

.step1__step2 {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-left: 10px;
}
.step1__step2 i {
  margin: 0px 20px 0px 30px;
}

/*  Restaurants */
.restaurant {
  background-color: #f3f3f3;
  padding: 20px;
}
.restaurant h2 {
  margin: 20px 0 20px 0;
}

.bloc-article__menu {
  margin-bottom: 30px;
  background-color: white;
  position: relative;
  height: 251px;
  border-radius: 15px;
}
.bloc-article__menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 170px;
  bottom: 1px;
}
.bloc-article__menu span {
  width: 130px;
  height: 200px;
}
.bloc-article__menu span i {
  position: absolute;
  font-size: 25px;
  right: 30px;
  bottom: 30px;
}
.bloc-article__menu span:hover {
  background-color: #9356DC;
  color: #9356DC;
}

.menu-carte__menu-texte {
  margin: 10px;
}
.menu-carte__menu-texte h3 {
  margin: 0;
  margin: 5px;
}
.menu-carte__menu-texte p {
  font-size: 17px;
  font-style: normal;
}

.menu__libellé {
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  width: 90px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.container-2 h1, .container-2 h2 {
  font-family: "Shrikhand";
}

@media screen and (min-width: 768px) {
  /* L'image de fond */
  .illustration img {
    height: 360px;
  }
  /* Le menu */
  .Menu {
    width: 75%;
    background-color: #f3f3f3;
  }
  .Menu button {
    margin: 30px 150px;
  }
  .Menu__titleMenu {
    justify-content: center;
  }
  /* Footer */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 100px;
    padding: 20px 35px;
  }
  .footer img {
    width: 130px;
    height: 25px;
    margin-bottom: 5px;
  }
  .footer span {
    display: flex;
    flex-direction: row;
    margin: 0 35px 0 35px;
    text-align: center;
  }
  .footer__footer-nav {
    display: flex;
    flex-direction: row;
  }
  .footer-nav__foot-align {
    margin: 0 5px 0 5px;
  }
  .footer-nav p {
    margin-left: 10px;
  }
}
/* Barre de navigation */
.navBar {
  width: 100%;
  height: 70px;
  position: relative;
}
.navBar__arrow {
  width: 50px;
  position: absolute;
  left: 25px;
}
.navBar__logo img {
  width: 200px;
  height: 40px;
}

/* Image de fond */
.illustration {
  position: relative;
  height: 290px;
  z-index: 1;
}
.illustration img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 360px;
}

/* Background */
.background {
  position: relative;
  height: 1245px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}

/* Le menu */
.background__Menu {
  width: 100%;
  background-color: white;
  border-radius: 40px 40px 0 0;
  padding: 1px 0px 20px 0px;
  z-index: 2;
  position: absolute;
  top: 30px;
}

.Menu__titleMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.Menu__titleMenu h1 {
  font-size: 30px;
  margin-right: 50px;
  margin-bottom: 0;
}
.Menu__titleMenu i {
  position: absolute;
  right: 30px;
  margin-top: 24px;
  font-size: 30px;
}
.Menu__bouton {
  display: flex;
  justify-content: center;
}

/* - Entrées */
.background__Menu h3, .background__Menu p, .background__Menu h4 {
  margin: 0;
}
.background__Menu h4 {
  margin-top: 35px;
}

.Menu__menu-content {
  margin-bottom: 10px;
}
.Menu__menu-content p {
  margin-bottom: 10;
}

.menu-content__trait {
  border: solid 2px #99E2D0;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.menu-content__plats {
  position: relative;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px 0 15px 15px;
  box-shadow: 0px 10.0114941597px 20.0431032181px 7px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.menu-content__plats h3 {
  margin: 5px 0 5px 0;
  font-weight: bolder;
}
.menu-content__plats p {
  font-weight: lighter;
}
.menu-content__plats span {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-weight: bolder;
}/*# sourceMappingURL=main.css.map */