/* Typography */

@mixin family-1 {
    font-family: 'Shrikhand';
}

/* Media queries */

/* Tablette */

@mixin media-768 {

    @media screen and (min-width: 768px) {

        /* Fonctionnement */

        .roadMap{
            padding: 60px 30px;

            h2 {
            padding-left: 112px;
            margin-bottom: 40px;
            }

            &__step-wrap {
                justify-content: center;
                flex-direction: row;
            }
        }

        .step-wrap {

            &__step1 {
                width: 30%;
                margin: 0 10px 0 0;
                padding: 0 10px 0 0;
            }
        }

        .step1 {

            &__step2 {
                padding-right: 10px;
    
                p {
                    text-align: center;
                }
    
                i{
                    margin-right: 5px;
                }
            }
        }

        /* Restaurants */

        .restaurant {
            padding: 30px 150px 30px 150px;
        
            h2 {
                margin-bottom: 20px;
            }
        }

        .bloc-article {

            &__menu {
                height: 360px;
            }
        }

        .menu {

            &__menu-carte {

                img {
                    height: 280px;
                }
            }
        }

        /* Footer */

        .footer {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            height: 100px;
            padding: 20px 35px;
        
            img{
                width: 130px;
                height: 25px;
                margin-bottom: 5px;
            }

            span {
                display: flex;
                flex-direction: row;
                margin: 0 35px 0 35px;
                text-align: center;
            }


            &__footer-nav {
                display: flex;
                flex-direction: row;
            }
        }

        .footer-nav {

        &__foot-align {
                margin: 0 5px 0 5px;
            
                p   {
                    margin-left: 10px;
                }
            }
        
        }

    }
}

/* desktop ++ */

@mixin media-1024 {

    @media screen and (min-width: 1024px) {

        /* Fonctionnement */

        .roadMap{
            padding: 60px 180px;

            h2 {
                padding: 0;
            }
        }

        .step-1 {

            &__step2 {
            
                i{
                    margin: 0px 20px 0px 30px;
                }
            }
        }

        /* Restaurants */

        .restaurant {
            display: flex;
            flex-direction: column;
            padding: 30px 130px 30px 130px;

            h2 {
                padding-left: 45px;
            }

            &__bloc-article {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }

        .bloc-article {

            &__menu {
                height: 300px;
                width: 40%;
                margin: 30px 20px;
            }
        }

        .menu {

            &__menu-carte {

                img {
                    height: 231px;
                }
            }
        }

        /* footer */

        .footer-nav {

            &__foot-align {
                
                p {
                    margin-left: 5px;
                }
            }
        }
    }
}

/* Media Restaurants */


/* Tablette & desktop*/

@mixin media-R-768 {

    @media screen and (min-width: 768px) {

        /* L'image de fond */
    
        .illustration {
        
            img {
                height: 360px;
            }
        }
    
        /* Le menu */
    
        .Menu {
            width: 75%;
            background-color: $fond-gris-2;
        
            button {
            margin: 30px 150px;
            }
            
            &__titleMenu {
                justify-content: center;
            }
        }
    
        /* Footer */
    
        .footer {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            height: 100px;
            padding: 20px 35px;
            
            img {
            width: 130px;
            height: 25px;
            margin-bottom: 5px;
            }

            span {
                display: flex;
                flex-direction: row;
                margin: 0 35px 0 35px;
                text-align: center;
            }


            &__footer-nav {
                display: flex;
                flex-direction: row;
            }
        }
    
    
        .footer-nav {
            
            &__foot-align {
            margin: 0 5px 0 5px;
            }
            
            p {
            margin-left: 10px;
            }

        }
    
    }

}

