/* Localisation */

.localisation {
    @extend %Flex-center;
    flex-direction: row;
    background-color: $fond-gris-1;
    box-shadow: inset 0px 10px 5px -11px grey;
    height: 50px;

    i   {
        text-align: center;
        height: 16px;
        margin-right: 10px;
    }
}

/* Reservation */

.reserve{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $fond-gris-2;
    padding: 20px 0 20px 0;

    h1  {
        padding: 0 60px 0 60px;
        margin-bottom: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    
    p   {
        padding: 0 40px 0 40px;
        text-align: center;
        color: var(--grey, #353535);
    }
}

/*  Fonctionnement */

.roadMap{
    padding: 15px 24px 15px 15px;

    h2{
        margin-bottom: 20px;
    }
}

.step-wrap {
    
    &__step1    {
        margin-bottom: 20px;
        position: relative;
    
    span    {
        background-color: $primary;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        bottom: 22px;
        left: -3px;
        }
    }
}

.step1 {

    &__step2    {
        @extend %Flex-center;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 70px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-left: 10px;

        i   {
            margin: 0px 20px 0px 30px;
        }

        &__market {
            margin: 0px 20px 0px 30px;
        }
    }
}

.step2__market:hover {
    color: $primary;
    cursor: pointer;
}

/*  Restaurants */

.restaurant {
    background-color: #f3f3f3;
    padding: 15px;

    h2{
        margin: 20px 0 20px 0;
    }
}

.bloc-article {

    &__menu {
        margin-bottom: 30px;
        background-color: white;
        position: relative;
        height: 251px;
        border-radius: 15px;

            img {
                object-fit: cover;
                width: 100%;
                border-radius: 15px 15px 0px 0px;
                height: 170px;
                bottom: 1px;
            }


            span {
                width: 130px;
                height: 200px;
            }

            span i{
                position: absolute;
                font-size: 25px;
                right: 30px;
                bottom: 30px;
            }

            span:hover {
                background-color: $primary;
                color: $primary;
            }

    }

}

.menu-carte   {

    &__menu-texte {
        margin: 10px;

        h3  {
            margin: 0;
            margin: 5px;
        }

        p   {
            font-size: 17px;
            font-style: normal;
        }
    }
}

.menu {
    
    &__libellé {
        @extend %Flex-center;
        background-color: $tertiary;
        color: #008766;
        border-radius: 2px;
        width: 90px;
        height: 40px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

/* Media queries */

@media screen and (min-width: 768px) {

    /* Fonctionnement */

    .roadMap{
        padding: 30px 40px 30px 30px;

        h2 {
        margin-bottom: 40px;
        }

        &__step-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .step-wrap {

        &__step1 {
            width: 28%;
            margin: 0 10px 0 0;
            padding: 0 10px 0 0;
        }
    }

    .step1 {

        &__step2 {
            padding-right: 10px;

            p {
                text-align: center;
            }

            i{
                margin-right: 5px;
            }
        }
    }

    /* Restaurants */

    .restaurant {
        padding: 30px 150px 30px 150px;
    
        h2 {
            margin-bottom: 20px 20px;
        }
    }

    .bloc-article {

        &__menu {
            height: 360px;
        }
    }

    .menu {

        &__menu-carte {
            cursor: pointer;

            img {
                height: 280px;
            }
        }
    }

    /* Footer */

    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        height: 100px;
        padding: 20px 35px;
    
        img{
            width: 130px;
            height: 25px;
            margin-bottom: 5px;
        }

        span {
            display: flex;
            flex-direction: row;
            margin: 0 35px 0 35px;
            text-align: center;
        }


        &__footer-nav {
            display: flex;
            flex-direction: row;
        }
    }

    .footer-nav {

    &__foot-align {
            margin: 0 5px 0 5px;
        
            p   {
                margin-left: 10px;
            }
        }
    
    }

}

/* desktop ++ */

@media screen and (min-width: 1024px) {

    /* Fonctionnement */

    .roadMap{
        padding: 60px 172px;

        h2 {
            margin-left: 15px;
        }
    }

    .step-1 {

        &__step2 {
        
            i{
                margin: 0px 20px 0px 30px;
            }
        }
    }

    /* Restaurants */

    .restaurant {
        display: flex;
        flex-direction: column;
        padding: 30px 130px 30px 130px;

        h2 {
            padding-left: 58px;
        }

        &__bloc-article {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .bloc-article {

        &__menu {
            height: 300px;
            width: 40%;
            margin: 30px 20px;
        }
    }

    .menu {

        &__menu-carte {

            img {
                height: 231px;
            }
        }
    }

    /* footer */

    .footer-nav {

        &__foot-align {
            
            p {
                margin-left: 5px;
            }
        }
    }
}

