.container-2 {
    
    h1, h2 {
    @include family-1;
    }
}

/* Barre de navigation */

.navBar {
    @extend %Flex-center;
    width: 100%;
    height: 70px;
    position: relative;

    &__arrow {
        width: 50px;
        position: absolute;
        left: 25px;
    }

    &__logo {
        @extend %Flex-center;
        
        img {
        width: 200px;
        height: 40px;
        }
    }
}

/* Image de fond */

.illustration {
    position: relative;
    height: 290px;
    z-index: 1;
    
        img {
        object-fit: cover;
        width: 100%;
        height: 360px;
        }
}

/* Background */

.background, .background2 {
    @extend %Flex-center;
    position: relative;
    height: 1245px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}

.background2 {
    height: 1345px;
}

/* Le menu */

.background {

    &__Menu, &__Menu2 {
        width: 100%;
        background-color: white;
        border-radius: 40px 40px 0 0;
        padding: 1px 20px 20px 20px;
        z-index: 2;
        top: 30px;
        
            h3, p, h4 {
                margin: 0;
            }
    
            h4 {
                margin-top: 35px;
            }

        }
}

.Menu, .Menu2 {
    
    &__titleMenu {
        @extend %Flex-center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        h1 {
            font-size: 30px;
            margin-right: 50px;
            margin-bottom: 0;
        }

        i{
            position: absolute;
            right: 30px;
            margin-top: 24px;
            font-size: 30px;
            cursor: pointer;
        }

        i:hover {
            color: $primary;
        }
    }

    &__bouton {
        display: flex;
        justify-content: center;
    }
}

/* - Entrées */

.Menu, .Menu2 {
    
    &__menu-content {
        margin-bottom: 10px;
        animation: slide 2s forwards;
    
        p {
            margin-bottom: 10;
        }
    }
}

.menu-content {

    &__trait {
        border: solid 2px #99E2D0;
        width: 40px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

.menu-content {

    &__plats {
        @extend %Flex-column;
        position: relative;
        height: 50px;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 15px 0 15px 15px;
        cursor: pointer;
        box-shadow: 0px 10.011494159698486px 20.043103218078613px 7px rgba(0, 0, 0, 0.10);
        background-color: white;

        h3 {
            margin: 5px 0 5px 0;
            font-weight: bolder;
        }
        
        p {
            font-weight: lighter;
        }
        
        span {
            position: absolute;
            right: 15px;
            bottom: 15px;
            font-weight: bolder;
        }

    }
}

/* Animation plats */

.Menu {

    &__time1 {
        animation-delay: 0;
    }
    &__time2 {
        animation-delay: 1s;
        opacity: 0;
    }
    
    &__time3 {
        animation-delay: 2s;
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {

        /* L'image de fond */
    
        .illustration {
            height: 430px;
            img {
                height: 450px;
            }
        }
    
        /* Le menu */

        .background__Menu {
            position: relative;
            width: 60%;
            background-color: $fond-gris-2;
            padding: 0 10%;
        }

/* La note enchanté */

        .background2 {
            height: 1340px;
        }

        .background__Menu2 {
            position: relative;
            width: 60%;
            background-color: $fond-gris-2;
            padding: 0 10%;
        }

        /* Suite Menu */

        .Menu, .Menu2 {
            &__titleMenu {
                justify-content: center;
            }

            &__bouton {
                margin: 40px 0;
            }
        }

        .Menu__titleMenu {
            h1 {
                margin-right: 25px;
            }
            i {
                position: initial;
            }
        }
    
        /* Footer */
    
        .footer {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            height: 100px;
            padding: 20px 35px;
            
            img {
            width: 130px;
            height: 25px;
            margin-bottom: 5px;
            }

            span {
                display: flex;
                flex-direction: row;
                margin: 0 35px 0 35px;
                text-align: center;
            }


            &__footer-nav {
                display: flex;
                flex-direction: row;
            }
        }
    
    
        .footer-nav {
            
            &__foot-align {
            margin: 0 5px 0 5px;
            }
            
            p {
            margin-left: 10px;
            }

        }
    
    }