// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/* Footer */

.footer {
    background-color: #353535;
    color: white;
    padding: 25px;
    
    h2 {
        @include family-1;
        font-size: 30px;
        color: white;
        margin: 0;
        margin-bottom: 10px;
        font-weight: 400;
    }
}

.footer-nav {
    padding-top: 15px;

    &__foot-align {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__contact {
        
        a {
        color: white;
        }
    }
}