// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/* Footer */

.footer {
    background-color: #353535;
    color: white;
    padding: 25px;
    
    img{
        width: 120px;
        height: 24px;
        color: white;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
    }
    
    span a {
        color: white;
    }
}

.footer-nav {
    padding-top: 15px;

    &__foot-align {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}