body {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}

.container {
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

p, h2, h3 {
    margin: 0;
    margin: 5px;
}